 function App() {
   return (
     <div className="App">
      <div className="container">         <Header></Header>
        <MoviesGrid></MoviesGrid>
      </div>
      <Footer></Footer>
    </div>
  );
 }